<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:database.properties"/>

    <bean id="databaseConfig"
          class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${DATABASE_DRIVER}"/>
        <property name="url" value="${DATABASE_URL}"/>
        <property name="username" value="${DATABASE_USER}"/>
        <property name="password" value="${DATABASE_PASSWORD}"/>
    </bean>
    <bean id="ConnectionFactoryImpl"
          class="by.itacademy.javaenterprise.datasourse.impl.ConnectionFactoryImpl">
        <property name="basicDataSource" ref="databaseConfig"/>
    </bean>
    <bean id="customerService"
          class="by.itacademy.javaenterprise.dao.impl.CustomerServiceImpl">
        <property name="connectionFactory" ref="basicDataSource"/>
    </bean>
    <bean id="orderService"
          class="by.itacademy.javaenterprise.dao.impl.OrderServiceImpl">
        <property name="connectionFactory" ref="basicDataSource"/>
    </bean>
</beans>


